#blogPicture {
  width: 400px !important;
  height: 300px !important;
}


tr th {
  border: 1px solid #ddd;
}


body {
  padding-top: 80px;
  word-wrap: break-word;
}

[hidden] {
  display: none !important;
}


#propertiesChildren {
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: grey;
}
