@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://www.w3schools.com/w3css/4/w3.css");

body {
  margin: 0;
  background-color: #f6f4f4	;
  color: black;
  font-family: "Lato", sans-serif;
  height: 100%;
  margin: 0;
}

.ml-auto{
  display: flex;
  justify-content: center;
}

.nav{
  background-color: #44aaac;
  position: fixed;
  top: 0px;
  padding: 1%;

}

.center{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

p{
    width: 70%;
    font-size: 30px;
    display: block;
    text-align: center;
}

.char{
    font-size: 25px;
    height: 20px;
    animation: an 2s ease-out 1s both;
    display: inline-block;
}

@keyframes an{
    from{
        opacity: 0;
        transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
    }
    to{
        opacity: 1;
        transform: perspective(500px) translate3d(0, 0, 0);
    }
}
.mylink{
  position: absolute;
  z-index: 150;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: right;
  padding: .6rem;
}

.mylink a{
  font-family: Calibri;
  color: black;
  border-bottom: 1px solid #fff;
  opacity: .5;
  transition: opacity .3s;
  text-decoration: none
}
.mylink a:hover{
  color: #adba44;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  overflow: hidden;
  width: 100%;

}


.itemForm {
  margin-top: 15%;
  min-height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(7px + 1vmin);
  margin-bottom: -21%;
  color: black;
  font-family: "Lato", sans-serif;
}

ul a {
  font-family: "Lato", sans-serif;
  display: block;
 color: black;
 text-align: center;
 padding: 14px 16px;
 margin-right: 13%;
 text-decoration: none;
}

ul a:hover{
  color: #adba44;
}

/* footer */
.footer-distributed{
	box-shadow: 4px 4px 1px 0 rgba(0, 0, 0, 0.52);
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	font: "lato" 16px sans-serif;
	padding: 1%;
  background-color: #44aaac;
  position: fixed;
  bottom: 0;

}

.footer-distributed .footer-right p{
	color:  black;
	font-size: 14px;
	margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links{
	font-size:18px;
	font-weight: bold;
	color:  black;
	margin: 0 0 10px;
	padding: 0;
}


.fa-linkedin:hover{
	color: #adba44;
}

.fa-facebook:hover{
	color: #adba44;
}

.fa-twitter:hover{
	color: #adba44;
}

.fa-github:hover{
	color: #adba44;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
	margin-right: 10px;
}

.footer-distributed .footer-center{
	float: center;
	margin-top: 6px;
}

.footer-distributed .footer-center a{
	display: inline-block;
	width: 5%;
	height: 35px;
	border-radius: 2px;
	font-size: 20px;
	color: black;
	line-height: 35px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

	.footer-distributed .footer-right,
	.footer-distributed .footer-center{
		text-align: center;
	}

	.footer-distributed .footer-center{
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-right p.footer-links{
		line-height: 1.8;
	}
}

/* Projects */

img {
  margin-left: 21%;
  width: 29%;
  vertical-align: middle;
}

p {
  text-align: center;
  width: 70%;
  font-size: 25px;
  margin-left: 16%;
  display: block;
  text-align: center;
  position: absolute;
  font-family: "Lato", sans-serif;
  font-variant: small-caps;
}

p#text {
  margin-bottom: 10%;
  margin-top: 5%;
}

/* Resume */

.resume{
  margin-top: 10%;
  margin-left: 5%;
}

.project{
  display: -webkit-inline-box
}

p#text-resume{
  width: 50%;
    margin: 2%;
    margin-top: -3%;
    text-align: justify;
}

.resumeName{
  font-size: 25px;
  text-align: center;
}

p {
  text-align: center;
  width: 70%;
  font-size: 25px;
  margin-left: 16%;
  display: block;
  text-align: center;
  position: absolute;
  font-family: "Lato", sans-serif;
  font-variant: small-caps;
}

.react-pdf__Page__canvas{
  width: 150%;
  margin-left: auto;
  display: block;
  margin-right: auto;
  margin-top: 20%;
  margin-bottom: 20%
}

.react-pdf__Page{
  margin-top: 20%;
  display: contents;
}

/* Error */

#header-text {
  color: rgb(33, 37, 41);
  background-color: #232323;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 25px;
  display: grid;
  grid-auto-flow: dense;
  text-align: justify;
  justify-items: center;
}

#code{
  font-size: 125px;
}

/* landing */
.col {
  font-family: "Lato", sans-serif
}

.ml-auto{
  display: flex;
  justify-content: center;
}

#text{
  font-size: 1;
  margin-top: 20%;

}
